<section id="cart">
	<p>
	  You have <%= pluralize current_order.total_items, 'item'%> in your basket which cost
	  <%= number_to_currency current_order.total_before_tax %>.
	</p>
	<%= link_to "View basket", basket_path %>
	<%= link_to "Checkout", checkout_path %>
</section>